.header-main {

  .top-bar {
    background: @webv-dark-gray;
  }

  .top-bar--navigation {

    .navigation--entry,
    .navigation--link {
      color: @webv-light-gray;
      &.entry--service {
        font-weight: bold;

        .service--list {
          font-weight: normal;
        }
      }
      &:hover {
        color: @webv-dark-orange;
      }
    }
  }
}

.shop--navigation {

  .navigation--entry {

    .btn {
      color: @webv-light-gray;
      &:hover {
        color: @webv-dark-orange;
      }
    }
  }
}

@media screen and (min-width: @tabletViewportWidth) {

  .header-main {

    .top-bar--navigation {

      .entry--service {
        &:after,
        &::after {
          color: @webv-dark-orange;
        }
      }
    }

    .logo-main {
      .unitize(top, -35);
      width: 50%;
      position: absolute;

      .logo--shop {

        .logo--link {
          .unitize(height, 195);
        }
      }
    }
  }

  .shop--navigation {
    .unitize(margin-top, 30);
    .unitize(margin-bottom, 30);
    margin-left: 50%;
    width: 50%;
  }
}

@media screen and (min-width: @tabletLandscapeViewportWidth) {

  .navigation--list {

    .entry--cart {

      .cart--link {

        .cart--amount {
          color: @webv-dark-orange;
        }
      }
    }
  }

  .header-main {

    .logo-main {
      width: 45%;
    }

    .shop--navigation {
      width: 55%;
      margin-left: 45%;
    }
  }
}

@media screen and (min-width: @desktopViewportWidth) {
  .header-main {

    .logo-main {
      .unitize(top, -44);

      .logo--shop {

        .logo--link {
          .unitize(height, 210);
        }
      }
    }
  }

}